ruuvitag_sensor
rpi_backlight; \
    platform_machine == 'armv6l' or \
    platform_machine == 'armv7l' or \
    platform_machine == 'armv8l' or \
    platform_machine == 'aarch64'
pyobjc; platform_system == 'Darwin'
wxPython
